body {
font-family: monospace;
margin: 0;
padding: 0;
min-height: 1250px;
background-color: #80808054;
}
  
header {
background-image: url(../gallery/header.jpg);
background-color: #80808054;
padding: 40px;
text-align: center;
height: 300px;
max-width: 1100px;
margin-inline: auto;
background-position: center -150px;
background-repeat: no-repeat;
display: flex;
justify-content: center;
align-items: center;
}
    
h1 {
color: #D50303;
text-shadow: -3px -3px #ffffff;
font-size: 55px;
}

h2 {
text-align: center;
color: #D50303;
text-shadow: -1px -1px #ffffff;
margin-top: 70px;
font-size: 3em;
}
 
#signupinfo {
text-align: center;
text-align-last: auto;
margin-top: 70px;
margin-bottom: -10px;
}

fieldset {
display: grid;
padding-inline-start: 25px;
border-style: groove;
border-radius: 10px;
}

p {
text-align-last: left;
padding: 25px;
text-align: left;
background-color: lightgray;    
margin: 0;
}

a:visited {
color: #050000;  
}
  
table {
border-collapse: collapse;
width: 70%;
margin: auto;
padding: 10px;
}

li {
    margin-left: 15px;
}

th, td {
border: 1px solid black;
padding: 8px;
text-align: left;  
}

.tableleft{
font-weight: bold;
}

#video {
border-radius: 10px 10px;
margin-top: 5%;
max-width: fit-content;
}

nav {
display: flex;
justify-content: center;
background-color: lightgray;
padding: 10px 0;
border-radius: 5px 5px;
}
  
nav ul {
display: flex;
list-style: none;
margin: 0;
padding: 0;
}
  
nav a {
display: block;
padding-right: 10px;
}

#age {
    max-width: 165px;
}

footer {
background-color: lightgray;
text-align: center;
padding: 2px;
position: sticky;
bottom: 0;
left: 0;
right: 0;
}

#signupfooter {
position: fixed;
}

#links {
padding-left: 500px;
color: #C50416;
padding: 50px;
 }
 
.img-responsive.image-resize {
height: 300px;
object-fit: cover;
width: 350px;
}

/* Main Mobile First goes under here and is normally anything
   that you want to be painted as under 576px */
/* Also contains default CSS reset */
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media (min-width: 768px) {

}

@media (min-width: 992px) {
header {
border-radius: 50px 50px;
}
h1 {
font-size: 100px;
}
p {
margin: 50px 125px;
}  
footer {
    position: fixed;
}
#video {
    max-width: inherit;
}
fieldset {
   display: flex;
}
}